.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 15rem 0;
  padding: 30px 20px;
  background-color: white;
  color: #333;
  font-family: 'Roboto', sans-serif;
  height: 70vh;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.faq {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;  /* Prevent overflow when collapsed */
}

.faq:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.faq h2 {
  font-size: 1.3rem;
  margin: 0;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 1.5rem;
  color: #FFBF00;
  transition: transform 0.3s ease;
}

.faq-answer {
  display: none;
  font-size: 1rem;
  color: #555;
  max-height: 0;
  overflow: hidden; /* Ensures content doesn't overflow */
  transition: all 0.3s ease;
}

.faq-answer.open {
  display: block;
  margin-top: -10px;
  max-height: 500px;  /* Set max-height to create space for expanded content */
  transition: max-height 0.3s ease, padding-top 0.3s ease;  /* Smooth transition */
}